In [1]:
import pandas as pd
from pandas import DataFrame
from pathlib import Path
import os

In [20]:
parent_dir = os.path.abspath('..')

In [25]:
data_dir = os.path.join(parent_dir, 'data')

files = [file for file in os.listdir(data_dir)]

### RENAMING FILES TO NONSENSE

In [26]:
rename_dict = {
    'EUR': 'SPAM', 
    'USD': 'BACON', 
    'GBP': 'SAUSAGE', 
    'AUD': 'EGG', 
    'CAD': 'SPAMSPAM',
    'CHF': 'BEANS',
    'JPY': 'TOMATO',
}

In [27]:
for key, value in rename_dict.items():
    for file in files:
        file = Path(file)
        if key in file.stem:
            new_name = data_dir / str(file.name).replace(key, value)
            file.rename(new_name)

###  Exploring data

In [14]:
index_col = 'Date'
col_names = ['Open', 'High', 'Low', 'Close', 'Volume', 'Transactions']

In [15]:
select_files = [file for file in files if '1440' in file.name]

In [16]:
df = pd.read_csv(select_files[0], parse_dates=True, index_col=[0], header=None)
df.index = pd.to_datetime(df.index, unit='s')
df.index.names = [index_col]
df.columns = col_names

In [17]:
df

               Open     High      Low    Close        Volume  Transactions
Date
2020-03-12  1.50000  1.50000  1.05000  1.09961  4.156492e+05          1842
2020-03-13  1.11549  1.19800  1.01000  1.10987  3.653842e+06         10957
2020-03-14  1.10987  1.11770  1.09220  1.10538  3.818256e+05          1223
2020-03-15  1.10222  1.11723  1.09336  1.10726  1.172658e+06          2609
2020-03-16  1.10762  1.13700  1.10000  1.11494  1.553507e+06          4483
...             ...      ...      ...      ...           ...           ...
2022-06-26  1.05458  1.05706  1.05341  1.05640  2.646986e+06          7400
2022-06-27  1.05640  1.06108  1.05513  1.05818  1.437369e+07         19516
2022-06-28  1.05818  1.06079  1.05029  1.05241  6.897574e+06         11475
2022-06-29  1.05222  1.05391  1.04357  1.04530  1.267990e+07         23585
2022-06-30  1.04515  1.06490  1.03851  1.04740  1.990031e+07         21162

[841 rows x 6 columns]